body {
    background: #0F2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background: none;
}

#top-bar {
    width: 100%;
}

.container-fluid {
    background: transparent;
}

#aisc-logo {
    height: 50px;
}

#textbox {
    width: 80%;
}

.row {
    height: 5rem;
}

.gold-bg {
    background: rgb(219, 191, 119);
}

.gold-font {
    color: rgb(219, 191, 119);
}


.b-location {
    background-color: deepskyblue;
}

.b-miscellaneous {
    background-color: limegreen;
}

.b-organization {
    background-color: #cd7491;
}

.b-person {
    background-color: #f05e0a;
}

.i-location {
    background-color: #0091ff;
}

.i-miscellaneous {
    background-color: #309430;
}

.i-organization {
    background-color: #cd4a7d;
}

.i-person {
    background-color: #f00a0a;
}

.b-date {
    background-color: #fff200;
}

.i-date {
    background-color: #eade00;
}

.b-money {
    background-color: #00ff80;
}

.i-money {
    background-color: #00c462;

}

.b-time {
    background-color: #ff00ff;
}

.i-time {
    background-color: #bb00bb;
}

.b-percent {
    background-color: #80ffff;
}

.i-percent {
    background-color: #00ffff;

}